.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: bisque;
    height: 50px;
    margin-top: 2em;
    color: darkgray;
}

.footer span {
    font-weight: bold;
}